/aplikacije/Klijent/build/
/aplikacije/Klijent/dist/
/aplikacije/Server/target/
/aplikacije/Podsistem1/build/
/aplikacije/Podsistem1/dist/
/java aplikacije/Podsistem1/nbproject/private/
/java aplikacije/Podsistem1/dist/
/java aplikacije/Podsistem1/build/
/java aplikacije/aaaa/nbproject/private/
/java aplikacije/aaaa/build/
