/java aplikacije/Podsistem1/nbproject/private/
/java aplikacije/Podsistem1/dist/
/java aplikacije/Podsistem1/build/
/java aplikacije/aaaa/nbproject/private/
/java aplikacije/aaaa/build/
/java aplikacije/Podsistem2/nbproject/private/
/java aplikacije/Podsistem2/build/
/java aplikacije/Podsistem2/dist/
